.window {
    width: 600px;
    height: 300px;
    background: white;
    border: 1px solid black;
    position: absolute;
}

.header {
    display: flex;
    width: 100%;
    height: 36px;
    background: white;
    border-bottom: 1px solid black;
    
}

.header-extended {
    display: flex;
    width: 100%;
    height: 62px;
    background: white;
    border-bottom: 1px solid black;
    
    
}

.header-title {
    align-items: center;
}


.editorfix {
    position: absolute;
    left: 22px;
}

.header-content-left { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7px;
    left: 3px;
}

.editorheader {
    position: absolute;
    top: -5px;
    left: 0px;
}

.header-content-right { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 558px;
    
}


.header-content-left li { 
    display: inline-block;
}

.closebtn {
    padding: 8.5px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.closebtn:hover {
    background: cyan;
    filter: invert(1);
}

.header-extended-button {
    border-radius: 0px;
    background: none;
    border: none;
    border: 1px solid white;
}

.header-extended-button:hover {
    background: #bfeaff;
    border: 1px solid #53c7ff;
}

.header-extended-content {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 39px;
}

.content {
    margin: 0;
    padding: 0;
}